<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <title>App-Name:Home</title>
</head>
<body style="background-color: rgb(9, 24, 77);font-size: xx-large;color:white;">
    <div class="lphead">
        <img src="static/icons/snap.png" class="snap">
        <div class="welcome">Snap<br>Slide</div>
    </div>
    <div>
        <h4>About Snapslide</h4>
        <p>SnapSlide is a dynamic photo slideshow app that brings your memories to life. Seamlessly combine your favorite photos into captivating slideshows with personalized themes and music. Effortlessly create stunning presentations for special occasions, travel adventures, or everyday moments. With intuitive editing tools, users can enhance their photos and add text overlays for storytelling. Whether you're a seasoned photographer or a casual user, SnapSlide offers a user-friendly experience to craft and share beautiful slideshows with friends and family. Dive into nostalgia and creativity with SnapSlide, where every picture tells a unique story.</p>
    </div>
    
    <button><a href="/login">Login</a></button>
or<button><a href="/signup">Signup</a></button>

    
</body>
</html>